@font-face {
  font-family: 'Mblack';
  src: url("../fonts/Montserrat-Black.ttf") format('truetype'), url("../fonts/arbatctt.woff") format('woff'), url("../fonts/arbatctt.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mbold';
  src: url("../fonts/Montserrat-Bold.ttf") format('truetype'), url("../fonts/arbatctt.woff") format('woff'), url("../fonts/arbatctt.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mm';
  src: url("../fonts/Montserrat-Medium.ttf") format('truetype'), url("../fonts/arbatctt.woff") format('woff'), url("../fonts/arbatctt.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MR';
  src: url("../fonts/Montserrat-Regular.ttf") format('truetype'), url("../fonts/arbatctt.woff") format('woff'), url("../fonts/arbatctt.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
